$primary: #193e72;
$secondary: #919191;
$warning: #d4351c;
$focus: #fed47a;
$background: #ffffff;
$foreground: #000000;

.nihr-brand {
  h1,
  h2,
  h3,
  h4 {
    color: $primary;
  }

  input.govuk-input,
  textarea.govuk-textarea {
    border-color: $secondary;
    border-radius: 0.8em;
    &:focus {
      border: 4px solid $primary;
      box-shadow: none;
      outline: 4px solid $focus;
    }

    &.govuk-input--error,
    &.govuk-textarea--error {
      border-color: $warning;
    }
  }

  button.govuk-button {
    background-color: $primary;
    box-shadow: none;
    width: auto;
    border: 0.25em solid $primary;
    outline: 0.25em solid transparent;
    padding: 0.8em 1em 0.8em 1em;
    border-radius: 4px;

    &.govuk-button--secondary {
      background-color: $secondary;
      border: 0.25em solid $secondary;
      &:hover {
        background-color: lighten($secondary, 10%);
        border: 0.25em solid lighten($secondary, 10%);
        &:not(:focus) {
          color: $foreground;
        }
      }

      &.govuk-password-input__toggle {
        &.govuk-js-password-input-toggle {
          height: 2.2em;
          line-height: 0em;
        }
      }
    }

    &.govuk-button--warning {
      background-color: $warning;
      border: 0.25em solid $warning;
      color: $background;
      &:hover {
        background-color: lighten($warning, 10%);
        border: 0.25em solid lighten($warning, 10%);
      }
    }

    &:hover {
      background-color: lighten($primary, 10%);
      border: 0.25em solid lighten($primary, 10%);
      &:not(:focus) {
        color: $background;
      }
    }
    &:focus,
    &:active,
    &:target,
    &:focus-within {
      top: 0;
      background: $focus;
      box-shadow: none;
      border: 0.25em solid $focus;
      border-radius: 4px 4px 0 0;
      box-shadow: 0px 4px 0px 0px $primary;
      color: $primary;
      &:visited {
        color: $primary;
        &:active {
          color: $primary;
        }
      }
    }
  }

  .govuk-radios__label {
    &:before {
      border: 2px solid currentcolor;
    }
    &:after {
      border: 10px solid $primary;
    }
  }
  .govuk-radios__input:focus + .govuk-radios__label:before {
    border: 4px solid $primary;
    box-shadow: 0 0 0 4px $focus;
  }

  .govuk-checkboxes__label:after {
    border-bottom-color: $primary;
    border-left-color: $primary;
  }
  .govuk-checkboxes__input:focus + .govuk-checkboxes__label:before {
    border-color: $primary;
    box-shadow: 0 0 0 3px $focus;
  }

  .govuk-details__summary {
    color: $primary;
  }
  .govuk-details__text {
    border-left: 5px solid $primary;
  }

  .govuk-inset-text {
    border-left: 10px solid $primary;
  }

  .govuk-notification-banner {
    border: 5px solid $primary;
    background-color: $primary;

    .govuk-notification-banner__title {
      color: $background;
    }
  }

  .govuk-select {
    &:focus {
      outline: 3px solid $focus;
      border: 2px solid $primary;
      box-shadow: inset 0 0 0 2px $primary;
    }

    option:active,
    option:checked,
    &:focus::-ms-value {
      background-color: $primary;
    }
  }

  .nihr-card {
    display: block;
    width: 100%;
    clear: both;

    .nihr-card-img {
      float: left;
      width: 49%;
      @media (min-width: 641px) {
        display: block;
        float: none;
        width: 100%;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .nihr-card-body-wrapper {
      float: right;
      width: 49%;
      padding: 0.2em;
      padding-right: 0;

      @media (min-width: 641px) {
        float: none;
        display: block;
        width: 100%;
        border: 1px solid $secondary;
      }

      .nihr-card-body {
        h3 {
          margin-top: 0;
          margin-bottom: 0;
          padding-right: 0.5em;
        }
        p {
          display: none;
          margin-bottom: 0;
        }
        @media (min-width: 641px) {
          float: none;
          display: block;
          width: 100%;
          margin-left: -5px;
          position: relative;
          padding-left: 0.7em;
          &:after {
            content: "";
            width: 5px;
            position: absolute;
            left: 0;
            top: 5%;
            bottom: 5%;
            height: 90%;
            background-color: $warning;
          }
          p {
            display: block;
            padding-right: 0.5em;
          }
        }
      }
    }
  }

  .nihr-hero {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;

    @media (max-width: 640px) {
      flex-direction: column;
    }

    .nihr-hero-text {
      flex: 1;
      padding: 0.5em;
      bottom: 0;
      background-color: $primary;
      p,
      span,
      div,
      h1,
      h2,
      h3,
      a {
        color: $background;
      }
    }
    .nihr-hero-image {
      flex: 1;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .nihr-stack {
    margin-top: 5em;
    margin-left: 3em;
    position: relative;
    display: flex;
    flex-direction: row;

    .nihr-stack-text-wrapper,
    .nihr-stack-image {
      flex: 1;
    }

    .nihr-stack-image {
      position: relative;
      padding-left: 20em;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .nihr-stack-text-wrapper {
      z-index: 1;
      position: absolute;
      top: -3em;
      left: -3em;
      right: 50%;

      background-color: rgba(255, 255, 255, 0.7);
      border: 1px solid $foreground;
      padding: 10px;
      box-sizing: border-box;

      .nihr-stack-text {
        &:after {
          content: "";
          width: 5px;
          position: absolute;
          left: -3px;
          top: 10%;
          bottom: 10%;
          height: 80%;
          background-color: $warning;
        }
      }
    }
  }
}
